@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Walker_Knight";
  src: url("../assets/fonts/Walker_Knight.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("../assets/fonts/Lato/Lato-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("../assets/fonts/Lato/Lato-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("../assets/fonts/Lato/Lato-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("../assets/fonts/Lato/Lato-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("../assets/fonts/Lato/Lato-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Lato";
  src: url("../assets/fonts/Lato/Lato-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Lato";
  src: url("../assets/fonts/Lato/Lato-SemiboldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "CrimsonText";
  src: url("../assets/fonts/CrimsonText/CrimsonText-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "CrimsonText";
  src: url("../assets/fonts/CrimsonText/CrimsonText-SemiBold.ttf")
    format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "CrimsonText";
  src: url("../assets/fonts/CrimsonText/CrimsonText-Bold.ttf")
    format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "CrimsonText";
  src: url("../assets/fonts/CrimsonText/CrimsonText-Italic.ttf")
    format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "CrimsonText";
  src: url("../assets/fonts/CrimsonText/CrimsonText-SemiBoldItalic.ttf")
    format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "CrimsonText";
  src: url("../assets/fonts/CrimsonText/CrimsonText-BoldItalic.ttf")
    format("truetype");
  font-weight: 700;
  font-style: italic;
}

#mobile-menu.menu-open {
  transform: translateX(0);
  pointer-events: auto;
}

#menu-overlay {
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 99;
  transition: opacity 300ms ease-in-out;
  pointer-events: none;
}

#menu-overlay.menu-open {
  opacity: 0.5;
  pointer-events: auto;
}

body.menu-open {
  overflow: hidden;
}
